<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493864449137-5i565qh5houj2hvkpngkth5gp2frol03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493864449137-5i565qh5houj2hvkpngkth5gp2frol03</string>
	<key>API_KEY</key>
	<string>AIzaSyBSrRjRtWBMA822YGFD8aznLr31kicO-eo</string>
	<key>GCM_SENDER_ID</key>
	<string>493864449137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiatsu.app</string>
	<key>PROJECT_ID</key>
	<string>kiatsu-81a16</string>
	<key>STORAGE_BUCKET</key>
	<string>kiatsu-81a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493864449137:ios:bf5c6cdc168866d85057d0</string>
	<key>DATABASE_URL</key>
	<string>https://kiatsu-81a16.firebaseio.com</string>
</dict>
</plist>